{% load static %}

{% for product in product_list %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="{{ product.get_absolute_url }}">
                {% if product.image %}
                <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.title }}">
                {% else %}
                <img class="card-img-top" src="{% static 'img/no_img.png' %}" alt="{{ product.title }}">
                {% endif %}
            </a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                </h4>
                <h5>
                    {{ product.actual_price }} грн
                    {% if product.discount %}<del>{{ product.price }} грн</del>{% endif %}
                </h5>
                <p class="card-text">{{ product.description|truncatechars:50 }}</p>
            </div>
            <form class="card-footer" action="{% url 'order:cart-add' product.pk %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-success">Купить</button>
                {% if product.pk|slugify in request.session.cart %}
                    <button type="submit" class="btn btn-secondary">В корзине</button>
                {% else %}
                    <button type="submit" class="btn btn-warning">В корзину</button>
                {% endif %}
            </form>
        </div>
    </div>
{% endfor %}
