<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shop</title>
</head>
<body>
    <p>Категории:</p>
    <ul>
        {% for category in category_list %}
            Продукты категории {{ category.title }}
            {% for product in category.products.all %}
                <li>{{ product.title }}, {{ product.price }}</li>
            {% endfor %}
        {% endfor %}
    </ul>

    <p>Продукты:</p>
    <ul>
        {% for product in product_list %}
        <li>{{ product.title }}, {{ product.price }}. Категория: {{ product.category.title }}</li>
        {% if product.image %}
            {{ product.image.url }}
        {% endif %}
            {% for tag in product.tag.all %}
                {{ tag }},
            {% endfor %}
        {% endfor %}
    </ul>

</body>
</html>
