<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shop</title>
</head>
<body>

    <h2>Список категорий и их товаров:</h2>
    {% for category in category_list %}
        <ul>
            <h4>{{ category.title }}</h4>

            {% for product in category.products.all %}
                <li>{{ product.title }} - {{ product.price }} грн.</li>
            {% endfor %}
        </ul>
        <hr>
    {% endfor %}

    <h2>Список всех товаров:</h2>
    {% for product in product_list %}
        <h4>{{ product.title }}</h4>
        {% if product.image %}
            <img src="{{ product.image.url }}" height="50px"><br>
        {% endif %}
        <p>Цена: {{ product.price }} грн.</p>
        <p>Категория: {{ product.category.title }}</p>
        <p>
            Теги:
            {% for tag in product.tag.all %}
                {{ tag }},
            {% endfor %}
        </p>

    {% endfor %}

</body>
</html>
