<div class="container">
    <div class="row">
        <div class="col l3 s6">
            <h5 class="white-text">Помощь</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Наши магазины</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Оплата/доставка</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Возврат/обмен</a></li>
            </ul>
        </div>
        <div class="col l3 s6">
            <h5 class="white-text">Контакты</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">{{ phone }}</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">{{ address }}</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Обратная связь</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Оставить отзыв</a></li>
            </ul>
        </div>
        <div class="col l3 s6">
            <h5 class="white-text">Ссылки</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">О наc</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">фыв</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
        </div>
        <div class="col l3 s6">
            <h5 class="white-text">Ссылки</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">О наc</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">фыв</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container center">
        © 2020 ITEA
    </div>
</div>
