{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>ITEA Shop</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

    <header>
        <nav class="nav-wrapper indigo darken-4">
            <div class="container">
                <a href="{% url 'core:index' %}" class="brand-logo">ITEA Shop</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{% url 'core:product-list' %}">Все товары</a></li>
                    <li><a href="{% url 'core:category-list' %}">Категории</a></li>
                    <li><a href="#">О нас</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <h1 class="header center">Главная</h1>
            <div class="row">
                <div class="col">
                    {% for category in category_list %}
                        {% comment %} <a href="{% url 'category-detail' category.slug %}">{{ category.title }}</a> {% endcomment %}
                        <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                {% for product in product_list %}
                    <div class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                {% if product.image %}
                                    <img class="activator" src="{{ product.image.url }}">
                                {% else %}
                                    <img class="activator" src="{% static 'img/no_img.png' %}">
                                {% endif %}
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">{{ product.title }}<i class="material-icons right">more_vert</i></span>
                                <a class="waves-effect waves-teal btn-flat">{{ product.price }} грн.</a>
                                <a class="waves-effect waves-light btn indigo darken-4">Купить</a>
                                <a class="waves-effect waves-light btn indigo darken-4" href="{{ product.get_absolute_url }}">Подробнее</a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{{ product.title }}<i class="material-icons right">close</i></span>
                                <p>{{ product.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>

    <footer class="page-footer indigo darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                © 2020 ITEA
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
